################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudentEducationBoardTest/obj/Release/netcoreapp3.1
